<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
</head>
<body>
<div class="login-container">
    <form action="/login" method="post">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">
    </form>
    <button onclick="location.href='/register'" type="button">Register</button>
</div>
<a href="/oauth2/authorization/github">Login with GitHub</a>
<p th:text="${loginError}"></p>
</body>
</html>
